* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {   
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: rgb(30, 30, 30);
    border-radius: 16px;
    overflow: hidden;
}

#display {
    height: 20%;
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 5%;
    font-size: 64px;
    color: white;
}

#keys {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 48px;
    margin: 5px;
}

.operation {
    background-color: orange;
}

.operation:hover {
    background-color: rgba(255, 166, 0, 0.75);
}

.operation:active {
    background-color: rgba(255, 166, 0, 0.5);
}

.controls {
    background-color: rgb(120, 120, 120);
}

.controls:hover {
    background-color: rgba(120, 120, 120, 0.5);
}

.controls:active {
    background-color: rgba(120, 120, 120, 0.25);
}

.num, #dotBtn {
    background-color: rgba(60, 60, 60);
}

.num:hover, #dotBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

.num:active {
    background-color: rgba(60, 60, 60, 0.25);
}

#clear {
    margin-left: 95px;
}

#zero {
    width: 170px;
    border-radius: 40px;
}

